{% extends 'core/home.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">The Boring Company</p>
        </div>
    </div>
 </header>
 <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae vehicula neque. Vivamus laoreet dolor nisl, a rutrum est feugiat eu. Donec consectetur finibus tellus ac suscipit. Mauris gravida lectus vel nunc vestibulum volutpat. Sed cursus eleifend volutpat. Aenean dapibus massa lacus, at faucibus velit hendrerit eget. Aliquam erat volutpat. Fusce sit amet velit magna. Nunc diam felis, elementum sit amet velit ut, euismod ultricies nunc. Phasellus elementum ornare porta. Cras massa velit, semper eu accumsan a, imperdiet a justo.

Phasellus iaculis enim at tempus laoreet. In quam urna, ultricies nec tristique vel, ornare quis est. In auctor vulputate tellus, sit amet pharetra ligula finibus nec. Suspendisse interdum magna eget elit hendrerit consectetur. Quisque ultricies mauris non quam pellentesque, at luctus ante vehicula. Sed at volutpat arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur orci et leo blandit, eu finibus ex venenatis. Nam convallis aliquet accumsan. Donec aliquam eu mi et pellentesque. Vivamus a mi arcu. Phasellus at mollis nibh. Maecenas bibendum commodo odio, eu ultricies lacus interdum at. Nullam in magna vulputate, efficitur lectus nec, ullamcorper sem. Nam sapien elit, vestibulum a diam et, malesuada aliquam augue.

Nulla venenatis leo in lacus dapibus, at imperdiet est bibendum. Vivamus mattis vel magna eget luctus. Mauris id aliquet sem. Morbi venenatis est ut augue laoreet, quis aliquam lectus laoreet. Sed at velit eu libero imperdiet vestibulum varius fermentum leo. Nullam vehicula elit at mi finibus pretium. Aliquam gravida massa sed risus tempor, non pharetra lorem rhoncus. Suspendisse viverra odio a lorem gravida, sed aliquam ex viverra. Vestibulum posuere iaculis arcu sit amet eleifend. Donec et eros vitae arcu sagittis aliquet ut vitae turpis. Duis commodo magna eget neque ultricies, vitae molestie neque eleifend.

Donec dolor nulla, tempus ut elementum id, bibendum finibus ante. Aliquam erat volutpat. Mauris tincidunt maximus neque sollicitudin aliquet. Cras non consequat orci. Aliquam elementum dui quis sapien lacinia rutrum. Pellentesque feugiat nisi ut condimentum rhoncus. Nullam maximus venenatis erat sit amet hendrerit. Integer in euismod libero. Vestibulum semper arcu eget sem accumsan, et condimentum odio suscipit. Nulla rhoncus eleifend metus, sit amet elementum ante var
                </p>
            </div>
        </center>
    </div>

 </div>
{% endblock %}