{% extends 'core/base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">register</h1>
            <p class="lead fw-normal text-white-50 mb-0">The Boring Company</p>
        </div>
    </div>
 </header>
 <div class="container">
    <div class="row">
            <div class="col-8">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </form>
            </div>
    </div>

 </div>
{% endblock %}